[submodule "layers/third-party/poky"]
	path = layers/third-party/poky
	url = https://github.com/yoctoproject/poky.git
[submodule "layers/third-party/meta-raspberrypi"]
	path = layers/third-party/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "layers/sources/poky"]
	path = layers/sources/poky
	url = git://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "layers/sources/meta-raspberrypi"]
	path = layers/sources/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi
	branch = scarthgap
